<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionString" value="server=JOSH-PC\LOCAL;database=TaskMaster;uid=josh;Pwd=deedlit"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <TaskMasterBehavior />
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="customServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="265536"/>
        </behavior>
      </serviceBehaviors>  
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding"
                 closeTimeout="00:02:00"
                 openTimeout="00:02:00"
                 receiveTimeout="00:02:00"
                 sendTimeout="00:02:00"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="2000000"
                 useDefaultWebProxy="true"
                 bypassProxyOnLocal="false" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Services.Implementations.TaskService" behaviorConfiguration="customServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Services.Definitions.ITaskService" behaviorConfiguration="restBehavior" bindingConfiguration="restWebHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="TaskMasterBehavior" type="Server.Behavior.TaskMasterBehaviorSection, Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
</configuration>
