
    
    $(function () {
        ko.applyBindings(new TaskListViewModel());

        $('.task').focus(function () {
            $('.task').blur();
        });
    });
</script>

<h3>Tasks</h3>

<div class="taskContainer">
    <form data-bind="submit: addTask">
        Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
        <button type="submit">Add</button>
    </form>

    <ul data-bind="foreach: tasks, visible: tasks().length > 0">
        <li>
            <input type="checkbox" data-bind="checked: Completed" />
            <input class="task" data-bind="value: Description, disable: Completed" readonly="readonly" />
            <a href="#" data-bind="click: $parent.removeTask">Delete</a>
        </li> 
    </ul>

    You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)
    <span data-bind="visible: incompleteTasks().length == 0"> - it's beer time!</span>
    
    <form data-bind="submit: save">
        <button type="submit">Save</button>
    </form>
</div>
